.App {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed to flex-start to avoid vertical stretching */
  height: 100vh;
  background-color: #f5f5f5; /* Light gray background */
}

.App-header {
  background-color: #333;
  color: white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 40px; /* Increased margin-bottom */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Set width to limit the maximum size of content */
}

.mode-buttons button {
  margin-right: 10px; /* Space between buttons */
  margin-bottom: 20px;
}

.mode-buttons button:last-child {
  margin-right: 0; /* No margin for the last button */
}

.Text {
  display: flex;
  flex-direction: column; /* Stack text areas vertically */
  width: 100%; /* Full width */
  margin-bottom: 20px; /* Space before the paraphrase button */
}

.input-area,
.output-text {
  margin-bottom: 10px;
}

.input-area textarea,
.output-text textarea {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  width: calc(100% - 20px); /* Full width minus padding */
  margin: 0; /* Reset margin */
  height: 150px; /* Fixed height */
  padding: 15px; /* More padding inside text areas */
  resize: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 0; /* Reset margin */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s; /* Transition for smooth color change */
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px); /* Slight lift on hover */
}

button.active {
  background-color: #035907;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* More pronounced shadow for the active button */
}
